<html>

  <head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    {{>header}}
    <h1>Help (FAQ)</h1>
    <p>{{helpText}}</p>
    {{>footer}}
  </body>

</html>