<html>

  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>

  <body>
   {{>header}}
   <p>Use this site to get your location weather.</p>
   <form action="">
    <input type="text" placeholder="country">
    <button>Search</button>
   </form>
   <p id = 'message-1'></p>
   <p id = "message-2"></p>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>

</html>